@import "~bootstrap/scss/bootstrap";

body {
  background-color: blue;
}

.hide {
  display: none;
}

#navbar-button-logout {
  display: flex;
  float: right;
}

.logo {
  height: 70px;
  width: 100px;
}